/* style.css */
@layer base {
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}

/* minimal scrollbar customization */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 9999px;
}